
body {
  font-family: "Montserrat";
  background-color: #000;
  background-image: url(https://d3lp4xedbqa8a5.cloudfront.net/s3/digital-cougar-assets/whichcar/2018/08/07/-1/mclaren-720s-lgihttrail.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#title {
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montsarrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  /* background-color: rgba(45,64,89, .7); */
  color: #fff;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #fff;
}

.primary-color {
  color: #2d4059;
}

.secondary-color {
  color: #f07b3f;
}

.last-color {
  columns: #ffd460;
}

/* Nav Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";  
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 27%;
}

/* Features */
#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.features-icons {
  margin-bottom: 1rem;
}

.features-icons:hover {
  color: #f07b3f;
  cursor: pointer;
}
.features-items {
  text-align: center;
  padding: 5%;
}

.features-items:hover {
  background-color: rgba(192,192,192,.8);
  border-radius: 30%;
  font-weight: 400;
}

/* Testimonials */

#testimonials {
  text-align: center;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: rgba(240, 123, 63, .7);
  text-align: center;
  height: 200px;
}

.press-logo {
  width: 15%;
  margin: auto;
}

/* pricing */

.bg-1 {
  background-image: url(https://www.motortrend.com/uploads/sites/5/2015/03/2016-Ferrari-488-gtb-front-three-quarters1.jpg?fit=around%7C875:492);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


.bg-2 {
  background-image: url(https://cdn.shopify.com/s/files/1/0067/6236/4997/products/vorsteiner_mclaren_720s_silverstone_edition_carbon_rear_diffuser_3.jpg?v=1572128313g);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.bg-3 {
  background-image: url(https://images.dealer.com/ddc/vehicles/2020/Lamborghini/Aventador%20S/Convertible/color/Arancio%20Argos%20Pearl-8B8B-240,84,35-640-en_US.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#pricing {
  padding: 50px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-text {
  color: #fff;
}

h2 .rent-price {
  background-color: red;
}

/* CTA */
 #cta {
   background-color: rgba(240, 123, 63, .7);
   color: #fff;
   text-align: center;
   padding-top: 50px;
 }

 #cta-text {
   width: 1000px;
   margin: auto;
   font-size: 3.5rem;
 }

 #footer {
   height: 75px;
   text-align: center;
 }

 .ficon {
  margin: 20px;
}


@media (max-width: 500px) {
 
  .row-text {
   width: 100%;
 }

 #title {
   text-align: center;
 }

 #press {
   display: none;
 }

 #cta-text {
   text-align: center;
   margin: auto;
   width: 100%;
 }
}